<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://dubbo.apache.org/schema/dubbo 
        http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    
    <bean id="indexService" class="com.nimo.service.IndexServiceImpl">   
    </bean>
    
    <!-- dubbo 服务端 -->
    <dubbo:application name="dubbo-provider"  />  
    
    <!-- 只订阅不注册 register=false -->
   	<!--  
   	
   	-->
   	<dubbo:registry address="zookeeper://106.13.37.85:2181" /> 
   	<!-- dubbo 直连配置  注册中心   -->
    <!-- <dubbo:registry address="N/A" /> -->
   
    <dubbo:protocol name="dubbo" port="20880" />  
    <dubbo:service interface="com.nimo.api.IndexService" ref="indexService" />  

</beans>